h1,
h2,
h3,
h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

body {
    background: url(../images/background.png);
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    max-width: 1024px;
}


/*nav bar*/

nav {
    color: #ccc;
}

.nav-heading {
    /* padding: 10px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-style: solid;
    border-bottom-width: 5px;
}

.nav-list {
    list-style-type: none;
    /* margin: 0; */
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    margin-right: 70px;
}

.nav-list li {
    float: right;
}

.nav-list li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 25.5px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: #ccc;
    color: #ffffff;
}

#user-heading {
    position: fixed;
    top: 0;
    left: 70px;
    z-index: 1;
    padding: 18px;
    width: 260px;
    color: #ffffff;
    font-size: 32px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    text-align: center;
    vertical-align: middle;
}

.fa-id-card-o {
    color: darkred;
}

.fa-folder-o {
    color: tan
}

.fa-user-o {
    color: green
}


/********************************************/


/*about me */

.wrapper {
    position: absolute;
    width: 960px;
    height: 77%;
    overflow: scroll;
    z-index: 1;
    top: 22%;
    left: 32%;
    margin: -100px 0 0 -150px;
    padding-bottom: 25px;
    /* background-color: red; */
}

section {
    padding: 20px;
}

.container-header {
    width: 100%;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
}

hr {
    border-top: 1px solid #ccc;
}

.container {
    width: 610px;
    /* height: 560px; */
    background-color: #ffffff;
    float: left;
}

.about-body {
    padding: 10px 0 10px 0;
    line-height: 34px;
}

.profile-img {
    width: 30%;
    float: left;
    padding: 10px 10px 10px 0;
}


/************************************/


/*contact me form*/

form {
    padding: 20px;
    float: left;
    width: 610px;
    /* height: 560px; */
    background-color: #ffffff;
    color: #777777;
}

input[type=text] {
    width: 590px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 15px;
    font-size: 16px;
    padding: 10px;
}

input[type=email] {
    width: 590px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 15px;
    font-size: 16px;
    padding: 10px;
}

textarea {
    width: 590px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 220px;
    font-size: 16px;
    padding: 10px;
    max-width: 590px;
    max-height: 245px;
}

input[type=submit] {
    height: 40px;
    width: 111px;
    background-color: #4aaaa5;
    color: #ffffff;
    border-style: none;
    font-size: 15px;
}

label {
    color: #777777;
}


/*About Me & Contact Page & Portfolio */
/*connect with me*/

.connect {
    width: 230px;
    background-color: #ffffff;
    float: left;
    margin-left: 40px;
}

.connect-header {
    width: 100%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
}

.connect-img {
    width: 60px;
    float: left;
    padding: 5px;
    align-content: center;
    overflow: auto;
}


/* .icons a:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #4aaaa5; 
    background-color: #4aaaa5;
} */

.icons {
    width: 100%;
    text-align: center;
    margin: 0 10px;
}


/********************************************/


/* portfolio page */

figure {
    float: left;
    margin-top: -50px;
}

figure img {
    width: 285px;
    height: 185px;
}

.portfolio-img1 {
    padding: 10px 15px 15px 0;
}

.portfolio-img2 {
    padding: 10px 0 15px 15px;
}

.portfolio-img3 {
    padding: 15px 15px 15px 0;
}

.portfolio-img4 {
    padding: 15px 0 15px 15px;
}

.portfolio-img5 {
    padding: 15px 15px 10px 0;
}

.portfolio-banner-left {
    width: 285px;
    height: 50px;
    position: relative;
    bottom: -185px;
    left: 0;
    background-color: #4aaaa5;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    line-height: 50px;
}

.portfolio-banner-right {
    width: 285px;
    height: 50px;
    position: relative;
    bottom: -185px;
    left: 15px;
    background-color: #4aaaa5;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    line-height: 50px;
}


/********************************************/


/*footer*/

footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
    background-color: #666666;
    color: #ccc;
    border-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    z-index: 1;
}